* {margin:0; padding:0;}
body {background:#fff; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333; position:relative;}

img {border:none;}
ul {list-style-type:none;}
.c {clear:both; display:block; height:0; overflow:hidden; visibility:hidden;}

h1, h2, h3 {font-weight:normal;}

a {text-decoration:none; color:#1B75A9; border:none;}
a:hover {text-decoration:underline;}

/* Header */
#header {height:75px; margin:25px 75px;background:url(/images/logo.gif) no-repeat 0px 3px;}

#header h1 {margin-left:87px; font-size:3.5em; padding-top:5px; font-weight:bold;}
#header h1 a {color:#333;}
#header h1 a:hover {text-decoration:none;}
#header h1 a span {color:#999;}
#header h2 {font-weight: bold; font-style:italic; font-size: 1.1em; color:#FF3000; position:relative; top:-5px; left: 5px;letter-spacing:1px;}

#twitter {position:absolute;top:28px;left:720px;width:150px;overflow:hidden;}
#rss {position:absolute;top:28px;left:875px;width:25px;overflow:hidden;}

/* Page */
#page {line-height:180%;}

/* menu */
#menu {float:left; margin-left:25px; width:220px; color:#999;padding-top:5px;}
#menu h2 {text-align:right; color:#FF3000; font-size:1.8em; padding-bottom:10px;}
#menu a {border:none; color:#A19D9A;}
#menu a:hover {text-decoration:underline; color:#1B75A9;}

#menu #about {padding-bottom:20px;text-align:right;}
#menu #about li {padding-bottom:10px;line-height:normal;}
#menu #about .sm {font-size: 10px;}

#menu #links ul {padding-bottom:30px;}
#menu #links li {border-bottom:1px dotted #E7E2DC; text-align:right;}
#menu #links li a {padding-right:10px; background:url(/images/arrow.jpg) no-repeat right 6px;}

#menu #powered {text-align:right;padding-right:5px;padding-bottom:40px;}
#menu #powered img {padding-left:4px;}
#menu #powered a {text-decoration:none;}
#menu #powered a:hover .u {text-decoration:underline;}


/* Content */
#content {margin-left:290px; padding-right:50px;}

#content code {background-color:#f3f3f3;border: 1px solid #ddd;border-radius: 4px 4px 4px 4px;font-family: consolas,'courier new';font-size: 0.95em;padding: 2px;}
.syntaxhighlighter {padding-bottom:10px;}

/* Post */
.post {margin-bottom:15px;}
.post h1 {color:#1B75A9; line-height:normal; font-size:1.7em;font-weight:bold;text-decoration:none;}
.post .date {font-size:1em; font-style:italic; padding-bottom:20px;color:#555;}
.post h2 {line-height:normal; padding-bottom:20px; font-size:1.3em; font-weight:bold; color: #333;}
.post p {padding-bottom:15px; font-size:1.2em;}
.post .share {padding-bottom:0}

#post-nav {padding-bottom:20px;margin-bottom:20px;border-bottom:1px dotted #E7E2DC;line-height:110%}
#post-nav span:first-child {float:left;width:33%;}
#post-nav span:nth-child(2) {float:left;text-align:center;width:33%;}
#post-nav span:nth-child(3) {float:right;width:33%;}