<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <title>#{if title}#{get 'title' /} -- #{/if}Brian Nesbitt</title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <meta name="description" content="Developer who is always consuming knowledge. Startup enthusiast who doesn't enjoy being a drop in a bucket. Dividend stock investor. Lucky husband and father." />
   <link rel="shortcut icon" type="image/png" href="${urlimages}fav.png">
   <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css">
   #{gatracker gatracker/}
</head>
<body>

<div id="icons">
   <a href="http://twitter.com/NesbittBrian" class="twitter-follow-button" data-show-count="false">Follow @NesbittBrian</a>
   <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
</div>

<div id="header">
   <h1><a href="@{Application.index}"><span>Consuming</span>Knowledge</a></h1>
</div>

<div id="page">
   #{menu urlimages/}

   <div id="content">
      #{doLayout /}
   </div>
</div>

</body>
</html>
